
.container{
    width: 100%;
    justify-content: center;
    position: relative;
}

/* .timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 1px;
    bottom: 0;
    width: 4px;
    margin-left: -2px;
    background: #ececec;
    border-radius: 2px;
} */

.timeline_entry::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 104%;
    bottom: -10%;
    width: 4px;
    margin-left: -2px;
    background: #ececec;
    border-radius: 2px;
    
}

.timeline_entry:last-child::before {
    content: none;
}

.timeline_entry{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0;
    padding-top: 4em;
    position: relative;
}


.multiline{
    white-space: pre-line;
    font-family: text-sans, Roboto, Arial, "Apple Color Emoji", sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: -6px;
    line-height: 24px;
    text-align: left;
}


.jobtitle{
    font-family: "Ideal Sans A", "Ideal Sans B", display-sans, Roboto, Arial, "Apple Color Emoji", sans-serif;
    font-size: 19px;
    letter-spacing: -0.28px;
    font-weight: 300;
    margin-top: 15px;
    line-height: 30px;
    text-align: left;
}

.jobtitle > span{
    color: #7E8595;
}

.jobdate{
    font-family: text-sans, Roboto, Arial, "Apple Color Emoji", sans-serif;
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: -7px;
    line-height: 24px;
    text-align: left;
    color: #7E8595;
}

.experience-logo{
    padding-top: 4em;
}

@media only screen and (min-width: 768px) {

    .experience-logo{
        padding-top: 1em;
    }

    .timeline_entry::before {
        content: none;
    } 
    

    .timeline_entry > section::before {
        content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCA0MSAxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGZpbGw9IiNGOEM5QjkiIHk9IjQiIHdpZHRoPSIzNCIgaGVpZ2h0PSIyIiByeD0iMSIvPjxwYXRoIGQ9Ik0zNiAxMGMtMi43NiAwLTctNS03LTVzNC4yNC01IDctNWE1IDUgMCAwIDEgMCAxMHoiIGZpbGw9IiNFQTYzMzUiLz48L2c%2BPC9zdmc%2B);
        position: absolute;       
        right: -53px;
        top: 11px 
    }

    .timeline_entry:nth-child(odd) > section::before{
        left: -53px;
        right: auto;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .timeline_entry > section {
        max-width: 420px;        
        position: relative;
    }

    .timeline::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 1px;
        bottom: 0px;
        width: 4px;
        margin-left: -2px;
        background: #ececec;
        border-radius: 2px;
    }

    .timeline_entry:nth-child(odd) {
        padding-left: 48px;
        margin-left: 50%;
    }

    .timeline_entry:nth-child(even) {
        padding-right: 48px;
        margin-right: 50%;
        display: flex;
        justify-content: flex-end;
        /* padding-right: 34em; */
    }


}
