.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.App-intro {
  font-size: large;
}


footer{
  height: 3em;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
}

footer > span{
  width: 100%;
  color: #5a5a5a;
  font-size: 14px;
}

.bottom-copy{

  /* margin-top: ; */

  height:8vh;
  color: white;
  background-color: #364d79;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.copyright{
  width: 100%;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
